// functions

@function styles-row($total-columns: $max-columns, $gutter-width: $gutter-width)
{
	$container-width: ($total-columns * $column-width) + (($total-columns - 1) * $gutter-width);

	@return #{$container-width+$gutter-width}px;
}

@function styles-gutter($gutter-width: $gutter-width)
{
	@return #{$gutter-width/2}px;
}

@function styles-column($size, $gutter-width: $gutter-width)
{
	$width: ($size * $column-width) + (($size - 1) * $gutter-width);
	
	@return #{$width}px;
}

@function styles-offset($size, $gutter-width: $gutter-width)
{
	$width: ($size * $column-width) + ($size * $gutter-width) + ($gutter-width/2);

	@return #{$width}px;	
}