// grid

$max-width: 940px !default;

$column: 60px !default;
$gutter: 20px !default;
$max-columns: 12 !default;

// colors

$dark: #111 !default;
$light: #fff !default;

$darkgrey: #222 !default;
$midgrey: #7f8c8d !default;
$lightgrey: #d0d5d8 !default;

$pink: #fc589c !default;
$red: #ac0028 !default;
$purple: #94008c !default;
$blue: #0088fc !default;
$aqua: #008894 !default;
$green: #00a800 !default;
$yellow: #fcb800 !default;

$background: $light !default;
$color: $dark !default;
$border: darken($light, 20) !default;

$success: $green !default;
$error: $red !default;
$info: $blue !default;
$alert: $yellow !default;

// fonts

$basesize: 16px !default;

// margins, paddings, yadda

$margin: $basesize;
$padding: $basesize;