// grid

$max-width: 940px !default;

$max-columns: 12 !default;
$column-width: 60 !default;
$gutter-width: 20 !default;

// colors

$dark: #111 !default;
$light: #fff !default;

$darkgrey: #333 !default;
$midgrey: #666 !default;
$lightgrey: #ccc !default;

$pink: #fc589c !default;
$red: #ac0028 !default;
$purple: #94008c !default;
$blue: #0088fc !default;
$aqua: #008894 !default;
$green: #00a800 !default;
$yellow: #fcb800 !default;

$background: $light !default;
$color: $dark !default;
$border: darken($light, 20) !default;

$success: $green !default;
$error: $red !default;
$info: $blue !default;
$alert: $yellow !default;

// fonts

$basesize: 16px !default;

// margins, paddings, yadda

$margin: $basesize !default;
$padding: $basesize !default;
$radius: $basesize !default;