.panel {
	margin-bottom: $margin;

	.panel-header {
		padding: $padding;
		background: darken($background, 5);
		border: 1px solid darken($background, 20);
		border-radius: 4px 4px 0 0;

		h1, h2, h3, h4, h5, h6 {
			margin: 0 !important;
			color: $midgrey;
		}
	}

	.panel-body {
		padding: $padding;

		border: 1px solid darken($background, 20);
		border-radius: 4px;

		form {
			margin: 0 !important;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}
	}

	.panel-loading {
		position: relative;

		&:before {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;

			background: rgba($background, 0.75);
			border-radius: 4px;

			content: '';
		}

		&:after {
			position: absolute;
			top: 50%;
			left: 50%;

			margin-left: -14px;
			margin-top: -14px;

			width: 24px;
			height: 24px;

			border: 4px solid $dark;
			border-radius: 24px;

			border-left-color: transparent;
			border-right-color: transparent;
			
			-moz-animation: spin 1s infinite;
			-o-animation: spin 1s infinite;
			-webkit-animation: spin 1s infinite;
			animation: spin 1s infinite;

			content: '';
		}
	}

	.panel-header + .panel-body {
		border-width: 0 1px 1px;
		border-radius: 0 0 4px 4px;
	}
}