html, body {
	margin: 0;
	padding: 0;
	height: 100%;

	background: $background;
	color: $color;

	font: 500 #{$basesize}/normal sans-serif;

	text-align: left;
}

// headings

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $margin;
	padding: 0;

	&.muted {
		color: lighten($color, 20);
	}
}

h1.lead {
	margin: $margin 0;
	padding-bottom: $padding;
	border-bottom: 1px solid darken($background, 20);
}

// text blocks

p, mark, pre, blockquote {
	margin: 0 0 $margin;
	padding: 0;
}

mark {
	background-color: darken($background, 20);
}

pre {
	padding: $padding;
	background-color: darken($background, 3);
	border-radius: 5px;

	code { display: block; }
}

blockquote {
	padding: $padding;
	border-left: 2px solid darken($background, 20);
}

// typography styles

.lead {
	font-size: $basesize*1.125;
}

.small {
	font-size: $basesize*0.9;
}

.muted {
	color: $midgrey;
}

// anchors

a, a:link, a:visited, a:hover {
	color: $blue;
	text-decoration: none;
}

a:hover {
	color: lighten($blue, 20);
}

// lists

ol, ul {
	margin: 0;
	padding: 0 0 0 $padding*2;
	
	li {
		margin: 0 0 $margin;
		
		ul, ol {
			padding-top: $padding;
		}
	}
}

nav ul, nav ol {
	padding: 0;

	li {
		margin-bottom: 0;

		ul, ol {
			padding-top: 0;
		}
	}
}

dl {
	dt, dd {
		margin: 0 0 $margin;
	}
	
	dt {
		font-weight: 700;
	}
	
	dd {
		padding-left: 0;
	}
}

// tables

table {
	margin-bottom: $margin;
	width: 100%;

	caption { }
	
	thead, tfoot {
		th { padding: $padding; }
	}
	
	tbody {
		tr:hover {
			td {
				background: darken($background, 10);
			}
		}

		td { padding: $padding; }
	}
}

// forms

form {
	margin: 0 0 $margin;
	padding: 0;
}

fieldset {
	margin: 0 0 $margin;
	padding: 0 0 $padding;
	border: solid $border;
	border-width: 0 0 1px;

	&:last-child {
		border-width: 0;
	}
	
	legend {
		display: block;
		margin: 0;
		padding: 0 0 $padding;
		
		font-weight: 700;
	}
}

label {
	display: block;
	margin-bottom: $margin/2;
	
	&[for] { cursor: pointer; }
}

// inputs

input[type=text],
input[type=password],
input[type=email],
textarea {
	display: block;
	margin: 0;
	width: 100%;

	background: darken($background, 2);
	border: 1px solid $border;
	border-radius: 4px;
	outline: none;

	@include box-sizing(border-box);

	&:active, &:focus {
		background: #fff;
	}
}

input[type=text],
input[type=password],
input[type=email] {
	padding: $padding/2 0;
	text-indent: $padding/2;
}

textarea {
	padding: $margin/2;
	max-width: 100%;
}

select {
	display: block;
	margin: 0 0 $margin;
	padding: 0;
	
	width: 100%;
	height: $basesize*2 + 2;
	
	border: 1px solid $border;
	border-radius: 0px;
	outline: none;

	@include box-sizing(border-box);
}