// the grid...

.inner {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
}

.row {
	margin: 0 styles-gutter($gutter-width*-1);
	width: styles-row();
	@include clearfix;
}

.column, .columns {
	display: inline;
	float: left;
	margin: 0 styles-gutter();

	&.one				{ width: styles-column(1); }
	&.two				{ width: styles-column(2); }
	&.three				{ width: styles-column(3); }
	&.four				{ width: styles-column(4); }
	&.five				{ width: styles-column(5); }
	&.six				{ width: styles-column(6); }
	&.seven				{ width: styles-column(7); }
	&.eight				{ width: styles-column(8); }
	&.nine				{ width: styles-column(9); }
	&.ten				{ width: styles-column(10); }
	&.eleven			{ width: styles-column(11); }
	&.twelve			{ width: styles-column(12); }

	&.full				{ width: styles-column(12); }
	&.half				{ width: styles-column(6); }
}

.offset {
	&.by-one 			{ margin-left: styles-offset(1)}
	&.by-two 			{ margin-left: styles-offset(2)}
	&.by-three 			{ margin-left: styles-offset(3)}
	&.by-four 			{ margin-left: styles-offset(4)}
	&.by-five 			{ margin-left: styles-offset(5)}
	&.by-six 			{ margin-left: styles-offset(6)}
	&.by-seven 			{ margin-left: styles-offset(7)}
	&.by-eight 			{ margin-left: styles-offset(8)}
	&.by-nine 			{ margin-left: styles-offset(9)}
	&.by-ten 			{ margin-left: styles-offset(10)}
	&.by-eleven 		{ margin-left: styles-offset(11)}
}