.margin-top { margin-top: $margin !important; }
.margin-bottom { margin-bottom: $margin !important; }

.padding-top { padding-top: $padding !important; }
.padding-bottom { padding-bottom: $padding !important; }

.left-align { text-align: left; }
.right-align { text-align: right; }
.justify { text-align: justify; }